**/node_modules
**/.npm
*.un~
*.json~

.DS_Store
**/tmp
/05-example-web-application/run-npm-install-api-node
/05-example-web-application/run-npm-install-client-react
/05-example-web-application/make-go-workspace
/05-example-web-application/go-workspace/
/05-example-web-application/api-golang/ragus1975.pub
